@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
@source "../**/*.{html,js}";

@theme {
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@import "tailwindcss";

.card {
  @apply bg-white rounded overflow-hidden shadow-md relative hover:shadow-2xl;
}

.badge {
  @apply bg-[#E2E2D5] text-[#888883] text-xs uppercase font-bold rounded-full p-2 absolute top-0 ml-2 mt-2;
}

.btn {
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider border-2 hover:shadow-inner;
}

